@charset "UTF-8";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    cursor: url('./imagens/cursorpontinha.png'), auto;
    font-family: 'Courier New', Courier, monospace;line-height: 1.6;
    padding: 2em;
    margin: auto;
    width: 1350px;
   
}

a {
    cursor: url('./imagens/cursormaozinha.png'), pointer;
}

  .nowrap {
      white-space: nowrap;
      overflow-x: auto;
    }

.container {
    display: grid;
    height: 100vh;
    grid-column: 1fr 2fr 1fr;
    grid-row: 1fr 2fr 1fr;
    
}

header {
   
    grid-column: 1 / 4;
    grid-row: 1 / 2;

}

.cabecalho {
    width: 500px;
    height: 250px;
    display: flex;
    place-self: center;
    margin-top: 15px;
}

aside.esquerdo {
  
    display: flex;
    place-self: center;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.esquerdo01 {
    width: 330px;
    height: 430px;
    margin-left: 18px;
    width: 330px;
    height: 430px;
    margin-left: 18px;
    animation: flutuar 3s ease-in-out infinite;
    animation-delay: 1.5s;
    
}

.direito02 {
     width: 300px;
    height: 430px;
    margin-right: 18px;
    width: 300px;
  height: 430px;
  margin-right: 18px;

  /* ANIMAÇÃO AQUI */
  animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* sobe */
  }
  100% {
    transform: translateY(0); /* volta */
  }
}

main {
     
    
   width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;

}

main > img {
      display: block;
     margin: 0 auto 20px auto;
    position: static;
    margin-top: 0;
    

}
main > a {
    width: 100px;
    height: 50px;
    bottom:80%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

main > a:hover {

    color: aqua ;

}

main > p:first-of-type {
    margin-top: 5px; /* bem pertinho da imagem topo */
}


main > p {
   margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    word-spacing: 2px;
    text-align: justify;
    
    
}

.tab {
    margin-top: 180px;
}


.topo {
     width: 400px;
    height: 50px;
    display: block;
    margin: 50px auto 15px auto;
}

aside.direito {
   
    display: flex;
    align-items: center;
    grid-column: 3/ 4;
    grid-row: 2 / 4;
}

footer {
    color: white;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: flex;
    place-self: center;
    font-family: 'Courier New', Courier, monospace;
    
}

